{% extends "news/base.html" %}

{% block title %}All news{% endblock title %}

{% block content %}
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <h2>All News List</h2>
        <ul>
          {% for item in object_list %}
          <li><a href="{% url 'news_list_detail' item.pk %}">{{ item.title }}</a></li>
          {% empty %}
          <li>No news yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}